@model DashboardProductViewModal

<div class="row">
    <div class="col-md-4 col-lg-3">
        <h3>ADMİN PANEL</h3>
        <div>
            <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Product" asp-action="Index">Ürünler</a>
            <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Category" asp-action="Index">Kategoriler</a>
            <a class="list-group-item list-group-item-action" asp-area="Admin" asp-controller="Brand" asp-action="Index">Markalar</a>

        </div>
    </div>

    <div class="col-md-8 col-lg-9">

        <div class="row">
            <div class="col-md-4 col-lg-6">
                <div>

                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="CreateProduct">Yeni Ürün Oluştur</a>

                </div>
            </div>

            <div class="col-md-8 col-lg-9">
                <div>

                    <h3 style="text-align:center">Ürünler</h3>

                </div>

                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Ürün Adı</th>
                                <th>Açıklama</th>
                                <th>Fiyat</th>
                                <th>Kategori</th>
                                <th>Marka</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                                <th>Fotoğraf Ekle</th>
                                <th>Fotoğraf Sil</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model.Products)
                            {
                            <tr>
                                <td>
                                    <strong>@item.ProductName</strong>
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.Category.CategoryName
                                </td>
                                <td>
                                    @item.Brand.BrandName
                                </td>

                                <td>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-outline-success">Düzenle</a>
                                </td>

                                <td>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a>
                                </td>


                                <td>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="AddPhoto" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fa-solid fa-images"></i></a>
                                </td>

                                <td>
                                    <a asp-area="Admin" asp-controller="Product" asp-action="DeletePhoto" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa-solid fa-images"></i></a>
                                </td>

                            </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>

</div>